In [1]:
import numpy as np
import pandas as pd

In [28]:
data = pd.read_csv("student info.csv")
data.head()

,Timestamp,Name,Gender,Department,Year,SEM 1 SGPA,SEM 1 KT,SEM 2 SGPA,SEM 2 KT,SEM 3 SGPA,...,Are you interested in any Technical / Non - Technical events?,Can you sit a lecture for 2 hrs straight?,Do you prefer self - study or group study?,Do you do your submissions on time?,"If there are 5 hrs of lectures per day, would you attend all?","If there are 5 hrs of practicals per day, would you attend all?",Have you enrolled for coaching classes?,Have you won or participated in any Technical event?,Have you won or participated in any Non - Technical event?,How socially active are you?
0,2018/02/14 9:29:33 PM GMT+5:30,Mayuresh Pitale,Male,Computer Engineering,Second Year,7.93,0,7.93,0.0,7.38,...,Yes,No,Self - study,Yes,Yes,No,No,Yes,No,Highly active
1,2018/02/14 9:34:26 PM GMT+5:30,Vijeta Nayak,Female,Computer Engineering,Fourth Year,7.75,0,7.78,0.0,7.68,...,Yes,No,Group study,Yes,Yes,Yes,No,Yes,Yes,Somewhat active
2,2018/02/14 9:39:11 PM GMT+5:30,Ojas Nandkumar Thale,Male,Information Technology,Second Year,6.15,0,6.09,0.0,6.00,...,Yes,Yes,Self - study,Yes,Yes,Yes,No,Yes,Yes,Somewhat active
3,2018/02/14 9:40:41 PM GMT+5:30,Anush Madathumkara,Male,Computer Engineering,First Year,5.75,0,6.54,0.0,NaN,...,Yes,No,Self - study,No,No,Yes,Yes,Yes,Yes,Somewhat active
4,2018/02/14 9:41:14 PM GMT+5:30,Parag Iyyani,Male,Computer Engineering,Second Year,5.67,0,6.81,0.0,NaN,...,Yes,No,Self - study,Yes,Yes,Yes,No,Yes,No,Highly active

In [29]:
'''
This code converts the datatype of all the semester's SGPA from object datatype to float64.
'''
cols_to_convert = ['SEM 1 SGPA','SEM 2 SGPA','SEM 3 SGPA','SEM 4 SGPA','SEM 5 SGPA','SEM 6 SGPA','SEM 7 SGPA','SEM 8 SGPA']
for col in cols_to_convert:
    data[col] = pd.to_numeric(data[col], errors = 'coerce')

In [30]:
data.dtypes

Timestamp                                                                                       object
Name                                                                                            object
Gender                                                                                          object
Department                                                                                      object
Year                                                                                            object
SEM 1 SGPA                                                                                     float64
SEM 1 KT                                                                                         int64
SEM 2 SGPA                                                                                     float64
SEM 2 KT                                                                                       float64
SEM 3 SGPA                                                                                     float64
SEM 3 KT                                                                                       float64
SEM 4 SGPA                                                                                     float64
SEM 4 KT                                                                                       float64
SEM 5 SGPA                                                                                     float64
SEM 5 KT                                                                                       float64
SEM 6 SGPA                                                                                     float64
SEM 6 KT                                                                                       float64
SEM 7 SGPA                                                                                     float64
SEM 7 KT                                                                                       float64
SEM 8 SGPA                                                                                     float64
How many hours per week do you spend on writing assignments?                                    object
How many hours per week do you spend on studies?                                                object
How much time does it take for you to reach college?                                            object
How much would you consider as your average attendance throughout all the semesters so far?     object
How do you spend your free time?                                                                object
Parent's Qualification                                                                          object
Internet availability at home                                                                   object
If yes, what is your internet speed?                                                            object
Do you have any sibling?                                                                        object
If yes, is your sibling older or younger than you?                                              object
Sibling's Educational Qualification                                                             object
What is your preferred mode of transportation to reach college?                                 object
Are you interested in any Technical / Non - Technical events?                                   object
Can you sit a lecture for 2 hrs straight?                                                       object
Do you prefer self - study or group study?                                                      object
Do you do your submissions on time?                                                             object
If there are 5 hrs of lectures per day, would you attend all?                                   object
If there are 5 hrs of practicals per day, would you attend all?                                 object
Have you enrolled for coaching classes?                                                         object
Have you won or participated in any Technical event?                                            object
Have you won or participated in any Non - Technical event?                                      object
How socially active are you?                                                                    object
dtype: object

In [38]:
#Filling all the missing values with median of their respective sem Sgpa's
cols_to_fill = ['SEM 1 SGPA','SEM 2 SGPA','SEM 3 SGPA']
for col in cols_to_fill:
    data[col].fillna(data[col].median(skipna = True) ,inplace = True)

In [39]:
data.head(20)

,Timestamp,Name,Gender,Department,Year,SEM 1 SGPA,SEM 1 KT,SEM 2 SGPA,SEM 2 KT,SEM 3 SGPA,...,Are you interested in any Technical / Non - Technical events?,Can you sit a lecture for 2 hrs straight?,Do you prefer self - study or group study?,Do you do your submissions on time?,"If there are 5 hrs of lectures per day, would you attend all?","If there are 5 hrs of practicals per day, would you attend all?",Have you enrolled for coaching classes?,Have you won or participated in any Technical event?,Have you won or participated in any Non - Technical event?,How socially active are you?
0,2018/02/14 9:29:33 PM GMT+5:30,Mayuresh Pitale,Male,Computer Engineering,Second Year,7.93,0,7.93,0.0,7.38,...,Yes,No,Self - study,Yes,Yes,No,No,Yes,No,Highly active
1,2018/02/14 9:34:26 PM GMT+5:30,Vijeta Nayak,Female,Computer Engineering,Fourth Year,7.75,0,7.78,0.0,7.68,...,Yes,No,Group study,Yes,Yes,Yes,No,Yes,Yes,Somewhat active
2,2018/02/14 9:39:11 PM GMT+5:30,Ojas Nandkumar Thale,Male,Information Technology,Second Year,6.15,0,6.09,0.0,6.00,...,Yes,Yes,Self - study,Yes,Yes,Yes,No,Yes,Yes,Somewhat active
3,2018/02/14 9:40:41 PM GMT+5:30,Anush Madathumkara,Male,Computer Engineering,First Year,5.75,0,6.54,0.0,7.22,...,Yes,No,Self - study,No,No,Yes,Yes,Yes,Yes,Somewhat active
4,2018/02/14 9:41:14 PM GMT+5:30,Parag Iyyani,Male,Computer Engineering,Second Year,5.67,0,6.81,0.0,7.22,...,Yes,No,Self - study,Yes,Yes,Yes,No,Yes,No,Highly active
5,2018/02/14 9:42:00 PM GMT+5:30,Akshay Chakkungal,Male,Computer Engineering,Second Year,7.44,2,7.75,1.0,7.22,...,Yes,Yes,Self - study,Yes,Yes,Yes,Yes,Yes,Yes,Highly active
6,2018/02/14 9:44:12 PM GMT+5:30,Shradha,Female,Information Technology,Second Year,7.44,1,7.75,2.0,7.22,...,Yes,No,Group study,No,No,No,Yes,No,No,Somewhat active
7,2018/02/14 9:45:04 PM GMT+5:30,TEJAS AVINASH PATIL,Male,Information Technology,Second Year,6.51,0,7.42,0.0,6.73,...,Yes,Yes,Self - study,Yes,Yes,Yes,No,Yes,Yes,Somewhat active
8,2018/02/14 9:45:38 PM GMT+5:30,Prem Thamarakshan,Male,Information Technology,Second Year,7.44,1,6.15,0.0,7.22,...,No,No,Self - study,No,Yes,Yes,No,No,No,Highly active
9,2018/02/14 9:47:48 PM GMT+5:30,Kaustubh Nitin Deshmukh,Male,Mechanical Engineering,Second Year,7.20,0,7.10,0.0,6.43,...,Yes,No,Group study,No,No,No,No,Yes,Yes,Somewhat active
10,2018/02/14 9:48:02 PM GMT+5:30,Neha Mahesh Patil,Female,Information Technology,Second Year,8.00,0,7.85,0.0,8.54,...,Yes,No,Self - study,Yes,No,Yes,No,Yes,Yes,Somewhat active
11,2018/02/14 9:48:24 PM GMT+5:30,Sonali patil,Female,Information Technology,Second Year,6.70,0,6.67,0.0,6.69,...,No,Yes,Group study,Yes,No,Yes,No,No,No,Highly active
12,2018/02/14 9:52:17 PM GMT+5:30,Shraddha pandey,Female,Information Technology,Second Year,7.44,2,7.75,1.0,5.00,...,Yes,No,Self - study,No,No,Yes,No,No,No,Somewhat active
13,2018/02/14 9:52:49 PM GMT+5:30,Gitanjali Singh,Female,Information Technology,Second Year,7.41,0,8.00,0.0,8.54,...,Yes,Yes,Self - study,Yes,Yes,Yes,No,Yes,Yes,Somewhat active
14,2018/02/14 9:56:07 PM GMT+5:30,CHIRAG BHOIR,Male,Mechanical Engineering,Second Year,8.57,0,8.22,0.0,8.08,...,Yes,No,Group study,Yes,Yes,Yes,No,No,No,Somewhat active
15,2018/02/14 9:56:07 PM GMT+5:30,Avdhoot Mane,Male,Information Technology,Second Year,5.14,0,7.75,2.0,7.22,...,No,No,Group study,No,No,No,No,No,No,Highly active
16,2018/02/14 9:58:58 PM GMT+5:30,Prachi Satbhaya,Female,Information Technology,Second Year,7.44,1,7.75,1.0,7.22,...,No,No,Self - study,Yes,Yes,No,No,Yes,Yes,Somewhat active
17,2018/02/14 10:00:38 PM GMT+5:30,Saad shaikh,Male,Information Technology,Second Year,7.44,2,7.75,2.0,5.85,...,Yes,No,Self - study,Yes,Yes,Yes,No,Yes,No,Highly active
18,2018/02/14 10:02:10 PM GMT+5:30,Prathamesh ganesh patil,Male,Automobile Engineering,First Year,7.44,2,7.75,NaN,7.22,...,No,Yes,Self - study,Yes,No,Yes,Yes,No,Yes,Somewhat active
19,2018/02/14 10:02:14 PM GMT+5:30,Mansi Nimje,Female,Information Technology,Second Year,7.74,0,7.75,1.0,7.73,...,Yes,No,Self - study,Yes,Yes,Yes,No,Yes,No,Not active

In [40]:
#saving as a pickle file
data.to_pickle('student_info')

In [3]:
data = pd.read_csv("example1.csv")
data.head()

,Unnamed: 0,Unnamed: 0.1,Timestamp,Name,Gender,Department,Year,SEM 1 SGPA,SEM 1 KT,SEM 2 SGPA,...,Can you sit a lecture for 2 hrs straight?,Do you do your submissions on time?,"If there are 5 hrs of lectures per day, would you attend all?","If there are 5 hrs of practicals per day, would you attend all?",Have you enrolled for coaching classes?,Teacher's Feedback,Have you won or participated in any Non - Technical event?,Label,How socially active are you?,Average pointer
0,0,0,2018/02/14 9:29:33 PM GMT+5:30,Mayuresh Pitale,Male,Computer Engineering,Second Year,7.93,0,7.93,...,0,1,1,0,0,Good student,0,1,1,7.58000
1,1,1,2018/02/14 9:34:26 PM GMT+5:30,Vijeta Nayak,Female,Computer Engineering,Fourth Year,7.75,0,7.78,...,0,1,1,1,0,Good leadership skills,1,1,0,8.24625
2,2,2,2018/02/14 9:39:11 PM GMT+5:30,Ojas Nandkumar Thale,Male,Information Technology,Second Year,6.15,0,6.09,...,1,1,1,1,0,Hard working,1,1,0,6.39250
3,3,3,2018/02/14 9:40:41 PM GMT+5:30,Anush Madathumkara,Male,Computer Engineering,First Year,5.75,0,6.54,...,0,0,0,1,1,Responsible,1,1,0,6.18375
4,4,4,2018/02/14 9:41:14 PM GMT+5:30,Parag Iyyani,Male,Computer Engineering,Second Year,5.67,0,6.81,...,0,1,1,1,0,Good leadership skills,0,1,1,6.27250

In [4]:
'''
This code converts the datatype of all the semester's SGPA from object datatype to float64.
'''
cols_to_convert = ['SEM 1 SGPA','SEM 2 SGPA','SEM 3 SGPA','SEM 4 SGPA','SEM 5 SGPA','SEM 6 SGPA','SEM 7 SGPA','SEM 8 SGPA']
for col in cols_to_convert:
    data[col] = pd.to_numeric(data[col], errors = 'coerce')

In [5]:
data.to_pickle('student_info2')